<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <body>
    <div class="center">
      <div class="title">
  Folders </div>
  <div class='link'>
      { % for folder in folders % } 
      <div class='folder-name'>
          {{folder.folderName}}
      </div>
  </div>
</div>
</body>
</html>
