{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Website Homepage Design with html ans css</title>
    <link rel="stylesheet" href="style.css">

    <head>

    <body>
        <header>
            <div class="center">
                <div class="logo">
                </div>
                <ul class="nav-area">
                    {% if request.user.is_authenticated %}
                    <li>Welcome {{ request.user.username|capfirst }} </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <from class="search-form">
                    <input type="text" placeholder="search">
                    <button> search</button>
                </from>
            </div>
            <div class="welcome-text">
                <h1>WELCOME TO DOCUMENT DlGITIZATION SERVICE</h1>
                <div class="functions">
                    <ul class="functions-ui" style="list-style-type:none;">
                        <li>
                            <img src="static\files.png" height="67px" width="76px" type="button" id="button1">
                            <a href="http://youtube.com">My files</a>
                        </li>
                        <li>
                            <img src="static\folder.png" height="67px" width="76px" type="button" id="button2">
                            <a href="{% url 'mfolder' %}">New Folder</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </body>

</html>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .center {
        width: 1170px;
        margin: auto;
    }

    header {
        background: linear-gradient(-135deg, #c850c0, #4158d0);
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .nav-area {
        float: right;
        list-style: none;
        margin-top: 30px;
    } 

    .functions-ui {
        float: right;
        list-style: none;
    } 

    .functions-ui li {
        display: inline-block;
        justify-content: space-around;
    } 


    .nav-area li {
        display: inline-block;
    } 

    .nav-area li a {
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-family: poppins;
        font-size: 16px;
    }

    .nav-area li a:hover {
        background: #fff;
        color: #333;
    }

    .logo img {
        width: 100px;
        float: left;
        height: auto;
    }

    .welcome-text {
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 20% 30%;
        text-align: center;
    }

    .functions {
        position: absolute;
        align-items: center;
        justify-content: space-around;
    }

    .welcome-text h1 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 30px;
    }

    .welcome-text a {
        border: 1px solid #fff;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        display: block;
        color: #fff;
    }

    .welcome-text p {
        border: 1px solid #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
        display: block;
        color: #fff;
    }

    .welcome-text a:hover {
        background: #fff;
        color: #333;
    }

    .search-form {
        margin-top: 30px;
        float: left;
        margin-left: 10px;
    }

    input[type=text] {
        padding: 7px;
        border: none;
        font-size: 16px;
        font-family: sans-serif;
    }

    button {
        float: right;
        background: orange;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        position: relative;
        padding: 7px;
        font-family: sans-serif;
        border: none;
        font-size: 16px;
    }
</style>