<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <body>
    <div class="center">
      <div class="title">
  Make Folder </div>
  <form class="folder-creation" method="post" action="{% url 'folders'  %}" enctype='multipart/form-data' style="padding-left: 15%; padding-right:10% ;">
    {% csrf_token %}
        <div class="field">
          <input type="text" name="folder-name" id="folder-name"  placeholder="your folder name..."> <br>
        </div>
<div class="field">
          <input type="submit" value="Create">
        </div>
</form>
</div>
</body>
</html>

<script>
         /* Because i didn't set placeholder values in forms.py they will be set here using vanilla Javascript
         //We start indexing at one because CSRF_token is considered and input field
         */

         //Query All input fields
         var form_fields = document.getElementsByTagName('input')

         form_fields[1].placeholder='Name of Folder';

         for (var field in form_fields){
         form_fields[field].className += 'field'
         }
       </script>


<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    html,body{
      display: grid;
      height: 100%;
      width: 100%;
      place-items: center;
      background: #f2f2f2;
      background: linear-gradient(-135deg, #c850c0, #4158d0);
    }
    ::selection{
      background: #4158d0;
      color: #fff;
    }
    .center{
      width: 380px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 15px 20px rgba(0,0,,0.1);
    }
    .center .title{
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      line-height: 100px;
      color: #fff;
      user-select: none;
      border-radius: 15px 15px 0 0;
      background: linear-gradient(-135deg, #c850c0, #4158d0);
    }
    .center form{
      padding: 10px 30px 50px 30px;
    }
    .center form .field{
      height: 50px;
      width: 100%;
      margin-top: 20px;
      position: relative;
    }
    .center form .field input{
      height: 80%;
      width: 100%;
      outline: none;
      font-size: 17px;
      padding-left: 20px;
      border: 1px solid lightgrey;
      border-radius: 25px;
      transition: all 0.3s ease;
    }
    .center form .field input:focus,
    form .field input:valid{
      border-color: #4158d0;
    }
    .center form .field label{
      position: absolute;
      top: 50%;
      left: 20px;
      color: #999999;
      font-weight: 400;
      font-size: 17px;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
    form .field input:focus ~ label,
    form .field input:valid ~ label{
      top: 0%;
      font-size: 16px;
      color: #4158d0;
      background: #fff;
      transform: translateY(-50%);
    }
    form .content{
      display: flex;
      width: 100%;
      height: 50px;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;
    }
    form .content .checkbox{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form .content input{
      width: 15px;
      height: 15px;
      background: red;
    }
    form .content label{
      color: #262626;
      user-select: none;
      padding-left: 5px;
    }
    form .content .pass-link{
      color: "";
    }
    form .field input[type="submit"]{
      color: #fff;
      border: none;
      padding-left: 0;
      margin-top: 5%;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      background: linear-gradient(-135deg, #c850c0, #4158d0);
      transition: all 0.3s ease;
    }
    form .field input[type="submit"]:active{
      transform: scale(0.95);
    }
    form .login-link{
      color: #262626;
      margin-top: 20px;
      text-align: center;
    }
    form .pass-link a,
    form .login-link a{
      color: #4158d0;
      text-decoration: none;
    }
    form .pass-link a:hover,
    form .login-link a:hover{
      text-decoration: underline;
    }
    </style>